*{margin:0; padding:0;}
a{text-decoration: none;}
.clearfix{overflow:auto;}

body{
    background-image: url(../img/Screenshot_2019-04-28-19-31-54.png);
    background-repeat:no-repeat;
    background-size: 100% 50%;
    background-color: black;
    
    
}
.top h1{
    text-align: center;
    font-variant: small-caps;
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

.top p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    color: white;
    margin-top:5px;
    margin-left: 10px;
    
}
.socialmedia{
    margin-top: 25px;
    margin-left:543px;

    
}
body p{
    margin-top:30px;
    margin-left: 568px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
.socialmedia ul{
    list-style:none;
}
.socialmedia ul li{
    display:inline-block;
}

    
.socialmedia ul li a{
    
    padding:12px;
    display:inline;
    background-color:white;

    
    
    
}
.socialmedia ul li a:hover{
    background:red;
}
.img{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
   height:200px;
   width:200px;
    margin-left: 540px;
    margin-top: 50px;
    
    
}
.bar-links{
    margin-top: 70px;
    margin-left:350px;

    
}
.bar-links ul{
    list-style:none;
}
.bar-links ul li{
    display:inline-block;
}

    
.bar-links ul li a{
    
    padding:12px;
    display:inline;
    background-color:white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

    
    
    
}
.bar-links ul li a:hover{
    background:yellow;

}
.container{
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top:100px;
}
.container h2{
    margin-top: 15px;
}
.container h2 ul li a{
    font-size: 20px;
    color: grey;
    
}
.container p{
    color: white;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}