*{box-sizing:border-box;
}
input[type=text],select,textarea{
    width: 100%;
    padding:10px;
    border:1px solid #ccc;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;

}
.topic h1{
    margin-top:50px;
    color:black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
.topic p{
    text-align:center;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
input[type=button]{
    background-color:#4caf50;
    color:black;
    padding:12px 20px;
    border:none;
    cursor:pointer;
    font-weight: bold;
}
input[type=button]:hover{
    background-color:#45a049;
}

.container{
    border-radius:10px;
    background-color:lightblue;
    padding:10px;
    height: auto;
    margin-top: 125px;
    
}
.column{
    float:left;
    width:70%;
    margin-top:-10px;
    padding:20px;
    margin-left: 50px;
    font-weight: bold;
    background-color: lightblue;

}
.row:after{
    content:"";
    display:table;
    clear:both;
    

}
@media screen and (max-width:600px){
    width:100%;
    margin-top:0px;
}
.container h1{
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}
.container p{
    font-size: 20px;
}
.keeper{
    margin-top:40px;
    text-align: center;
    font-weight: bold;
    color: black;

}

.img img {
    width: 100%;
    height: 160px;
    
}

.desc {
    padding: 15px;
    text-align: center;
}
body{
    background: darkcyan;
}
body h1{
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    margin-top:100px;
}
.container{
    margin-top:50px;
    text-align: left;
    font-weight: bold;
}
.details{
    font-weight:bold;
    color: white
    
}
.details ul p{
    list-style: none;
    color:black;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    
}
.bar-links{
    margin-top: 70px;
    margin-left:300px;

    
}
.bar-links ul{
    list-style:none;
}
.bar-links ul li{
    display:inline-block;
}

    
.bar-links ul li a{
    
    padding:12px;
    display:inline;
    background-color:transparent;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

    
    
    
}
.bar-links ul li a:hover{
    background:rgb(7, 245, 233);

}

